# Pandas 1

Pandas is a Python packages with a number of data analysis tools. Its Series and DataFrame data structures provides way to represent data for data analysis.

With Pandas, we store data in various formats include CSV, MS Excel, Text file

In [5]:
# import libraries into the environment

import pandas as pd
import numpy as np
import pandas as pd

A series is a one-dimensional array.  It is possible to change the value but not the size of the series.

In [4]:
series1 = pd.Series([10, 20, 30])

# first column - indexes of the elements
# second column - the elements
print(series1)

0    10
1    20
2    30
dtype: int64

Create a Pandas Series data structure from NumPy array.

In [6]:
names = np.array(['John', 'Mary', 'James', 'Lisa'])
s2 = pd.Series(names)
print(s2)

0     John
1     Mary
2    James
3     Lisa
dtype: object

A Pandas Dataframe resembles a 2D table, with columns and rows.

Here, the 'Name', 'Age' and 'PhoneNumber' are the column-names of the DataFrame.

In [20]:
df = pd.DataFrame ({
    "Name": ['John', 'Mary', 'James', 'Lisa'],
    "Age" : [21, 25, 26, 28],
    "PhoneNumber" : ['65160001', '65160002', '65160003', '65160004']
})

print(df)           # prints values in DataFrame
print(df.dtypes)    # prints data-types of variables

    Name  Age PhoneNumber
0   John   21    65160001
1   Mary   25    65160002
2  James   26    65160003
3   Lisa   28    65160004
Name           object
Age             int64
PhoneNumber    object
dtype: object

In [17]:
# Python List
numList = [1, 2, 3, 4]

# construct a Pandas DataFrame from a Python List.
df = pd.DataFrame(numList)

# print out values in DataFrame
# as the column-names or index-names are not provided,
# default ones are given, which starts from 0.
df

   0
0  1
1  2
2  3
3  4

Printing out the data-type for each of the variable in the DataFrame.

In [19]:
print(df.dtypes)

0    int64
dtype: object

In [12]:
names = [['John', 7000], ['Mary', 3000], ['James', 6000], ['Lisa', 8000]]
    
df = pd.DataFrame(names, columns =['Name', 'Salary'])    # set the datatype (Age) to float

print(df)
print(df.dtypes)

    Name  Salary
0   John    7000
1   Mary    3000
2  James    6000
3   Lisa    8000
Name      object
Salary     int64
dtype: object

Summary Statistics of the data in the DataFrame.

In [13]:
df.describe()

            Salary
count     4.000000
mean   6000.000000
std    2160.246899
min    3000.000000
25%    5250.000000
50%    6500.000000
75%    7250.000000
max    8000.000000

In [ ]:
df #print dataframe contents

In [ ]:
df.to_csv('Person.csv', index=False, header=True)   # write file with header

In [ ]:
df.to_csv('Person.csv', index=False, header=False)

# Read File

In [ ]:
Location = 'Person.csv'

In [ ]:
df = pd.read_csv(Location, header=None)  # read file without header
df

In [ ]:
df = pd.read_csv(Location, names=['Names', 'Salary'])   # read file and specify column title
df

In [ ]:
max_value = df.Salary.max()            # get max value for the column

df['Names'] [df.Salary == max_value]

In [ ]:
df.Names       # display column

In [ ]:
df['Names']

In [ ]:
df.dtypes # check data types of the columns

In [ ]:
df.Salary.dtype # check data type of a column

# Analyze Data

In [ ]:
df['Salary']

In [ ]:
df['Salary'].mean()  # get average

In [ ]:
df['Salary'].max() #check max value

In [ ]:
Sorted = df.sort_values(['Salary'], ascending=False)
Sorted.head(2)  # top sa salaried person

In [ ]:
df['Salary'].mean()